<form name="newPassword" novalidate ng-controller="NewPasswordCtrl">
  
  <h5 class="text-center">Enter New Password</h5>
  
  <div class="row">
    <div class="medium-9 small-centered columns">
      <label>New Password 
        <input type="password" 
               name="password"
               ng-model="pwd.new" 
               required
               require-equals='pwd.confirm'/>
      </label>
      <span class="error"
            ng-show="submitted && newPassword.password.$error.required">
        Required
      </span>
      <span class="error"
            ng-show="submitted && newPassword.password.$error.requireEquals">
        Passwords must match
      </span>
    </div>
  </div>
  <div class="row">
    <div class="medium-9 small-centered columns">
      <label>Confirm Password 
        <input type="password"
               name="confirm" 
               ng-model="pwd.confirm" 
               required
               require-equals='pwd.new'/>
      </label>
      <span class="error"
            ng-show="submitted && newPassword.confirm.$error.required">
        Required
      </span>
      <span class="error"
            ng-show="submitted && newPassword.confirm.$error.requireEquals">
        Passwords must match
      </span>
    </div>
  </div>
  
  <div class="row">
    <div class="medium-9 small-centered columns text-center">
      <input type="submit" ng-click="submit(pwd)" value="Set Password" />
    </div>
  </div>
  
</form>