<form name="passwordChange" novalidate ng-controller="PasswordChangeCtrl">

	<h5 class="text-center">Password Change</h5>

	<div class="row">
		<div class="medium-9 small-centered columns">
			<label>LDAP name <input type="text" 
			                        name="name"
			                        ng-model="user.name" 
			                        required/>
			</label>
      <span class="error"
            ng-show="submitted && passwordChange.name.$error.required">
        Required
      </span>
		</div>
	</div>
	<div class="row">
		<div class="medium-9 small-centered columns">
			<label>Password <input type="password" 
			                       name="password"
			                       ng-model="user.password" required/>
			</label>
      <span class="error"
            ng-show="submitted && passwordChange.password.$error.required">
        Required
      </span>
		</div>
	</div>
	
	<div class="row">
		<div class="medium-9 small-centered columns text-center">
			<input type="submit" ng-click="submit(user)" value="Change Password" />
		</div>
	</div>

</form>