<form name="resetRequest" novalidate ng-controller="PasswordResetRequestCtrl">
	<h5 class="text-center">Request Password Reset</h5>

	<div class="row">
		<div class="medium-11 small-centered columns">
			<label>LDAP Name <input type="text" 
			                        name="name"
			                        ng-model="user.name" 
			                        required/>
			</label>
      <span class="error"
            ng-show="submitted && resetRequest.name.$error.required">
        Required
      </span>
		</div>
	</div>
	<div class="row">
		<div class="medium-9 small-centered columns text-center">
			<input type="submit" ng-click="submit(user)" value="Request Reset" />
		</div>
	</div>
	
</form>